<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Adminisitrador</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- site icons -->
    <link rel="icon" href="{% static 'sitio_dark/images/logos/it_logo.png'%}" type="image/gif"/>
    <!-- bootstrap css -->

    <link rel="stylesheet" href="{% static 'sitio_dark/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'sitio_dark/css/stylemenuadmin.css' %}"/>
    <!-- Site css -->
    <link rel="stylesheet" href="{% static 'sitio_dark/css/style.css'%}"/>
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'sitio_dark/css/responsive.css'%}"/>
    <!-- colors css -->
    <link rel="stylesheet" href="{% static 'sitio_dark/css/colors1_dark.css'%}"/>
    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'sitio_dark/css/custom.css'%}"/>
    <!-- wow Animation css -->
    <link rel="stylesheet" href="{% static 'sitio_dark/css/animate.css'%}"/>
    <!-- revolution slider css -->
    <link rel="stylesheet" type="text/css" href="{% static 'sitio_dark/revolution/css/settings.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sitio_dark/revolution/css/layers.css'%}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sitio_dark/revolution/css/navigation.css'%}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="default_theme" class="it_service">
<!-- loader -->
<div class="bg_load"><img class="loader_animation" src="{% static 'sitio_dark/images/logos/it_logo_white.png'%}"
                          alt="#"/></div>
<!-- end loader -->
<!-- header -->
<div style="width:80%; margin-left:20%;">
    <header id="default_header" class="">
        <!-- header top -->
        <div class="header_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="full">
                            <div class="">
                                {% block indice %}

                                {% endblock %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 right_section_header_top">
                        <div class="float-left">
                            <div class="social_icon">
                                <ul class="list-inline">
                                    <li><a class="fa fa-facebook" href="https://www.facebook.com/" title="Facebook"
                                           target="_blank"></a></li>
                                    <li><a class="fa fa-google-plus" href="https://plus.google.com/" title="Google+"
                                           target="_blank"></a></li>
                                    <li><a class="fa fa-twitter" href="https://twitter.com" title="Twitter"
                                           target="_blank"></a></li>
                                    <li><a class="fa fa-linkedin" href="https://www.linkedin.com" title="LinkedIn"
                                           target="_blank"></a></li>
                                    <li><a class="fa fa-instagram" href="https://www.instagram.com" title="Instagram"
                                           target="_blank"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="float-right">
                            {% if user.is_authenticated %}
                            <div class="make_appo"><a class="btn white_btn" href="{% url 'usuario:salir'  %}">Cerrar
                                Sesion</a></div>
                            {% else %}
                            <div class="make_appo"><a class="btn white_btn"
                                                      onclick="abrirmodal('{% url 'login'  %}'); ">Iniciar Sesion</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end header top -->
        <!-- header bottom -->
        <div class="header_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <!-- logo start -->

                        <!-- logo end -->
                    </div>
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <!-- menu start -->

                        <!-- menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header bottom end -->
    </header>
</div>

<!-- end header -->
<!-- section -->

<div class="wrapper" style="width:25%;">
    <!--Top menu -->
    <div class="sidebar">
        <!--profile image & text-->

        <div class="profile">
            <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
                 alt="profile_picture">
            <h3>{{ user.first_name }} {{ user.last_name }}</h3>
            <p>Usuario Habilitado</p>
        </div>
        <!--menu item-->
        <ul>
            {% block menulateral%}




            <li>
                <a href="#" class="active">
                    <span class="icon"><i class="fa  fa-home"></i></span>
                    <span class="item">Gestionar Organizacion</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <span class="icon"><i class="fa fa-sign-out"></i></span>
                    <span class="item">Cerrar Seesion</span>
                </a>
            </li>

            {% endblock %}
        </ul>


    </div>

</div>

<div style="width:80%; margin-left:20%;">
{% block contenido %}


{% endblock %}
</div>



<!-- PATROCINADORES -->


<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                {% block titlemodal %}{% endblock %}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% block modalcuerpo%}

            {% endblock %}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- End Model search bar -->
<!-- footer -->

<!-- end footer -->
<!-- js section -->

<script src="{% static 'sitio_dark/js/extras.js' %}"></script>
<script src="{% static 'sitio_dark/js/jquery.min.js'%}"></script>
<script src="{% static 'sitio_dark/js/bootstrap.min.js' %}"></script>
<!-- menu js -->
<script src="{% static 'sitio_dark/js/menumaker.js'%}"></script>
<!-- wow animation -->
<script src="{% static 'sitio_dark/js/wow.js'%}"></script>
<!-- custom js -->
<script src="{% static 'sitio_dark/js/custom.js'%}"></script>
<!-- revolution js files -->
<script src="{% static 'sitio_dark/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'sitio_dark/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable').dataTable( {
         pagin: true,
         "lengthMenu": [[10, 25, 50, -1],[10, 25, 50, "Todo"]],
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
            }
        } );
    });
</script>


<script src="{% static 'sitio_dark/datatable/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'sitio_dark/datatable/js/dataTables.bootstrap4.min.js' %}"></script>
<!-- google map js -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8eaHt9Dh5H57Zh0xVTqxVdBFCvFMqFjQ&callback=initMap"></script>
<!-- end google map js -->
</body>
</html>
