{% extends "base_admin.html" %}
{% load static %}


{% block indice %}
<span class="nombre" style="margin-top: 2%;"><i class="fa  fa-home"></i> {{Organizacion.nombre_organizacion}}</span>
{% endblock %}

{% block menulateral%}

<li>
    <a href="{% url 'adminOrganiacion:indexOrganizacion'  %}" class="">
        <span class="icon"><i class="fa fa-home"></i></span>
        <span class="item">Inicio</span>
    </a>
</li>

<li>
    <a href="#" class="active">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <span class="item">Gestionar Organización</span>
    </a>
</li>

<li>
    <a href="{% url 'adminOrganiacion:productos_organizacion' Organizacion.id %}" class="">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <span class="item">Gestionar Productos</span>
    </a>
</li>

<li>
    <a href="#" class="">
        <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
        <span class="item">Gestionar Redes Sociales</span>
    </a>
</li>

<li>
    <a href="{% url 'adminOrganiacion:todas_presentacion_productos' Organizacion.id %}" class="">
        <span class="icon"><i class="fa fa-exchange"></i></span>
        <span class="item">Todos Los Productos</span>
    </a>
</li>

<li>
    <a href="{% url 'usuario:salir'  %}">
        <span class="icon"><i class="fa fa-sign-out"></i></span>
        <span class="item">Cerrar Sesión</span>
    </a>
</li>


{% endblock %}

{% block contenido %}
<div style="width: 90%; margin-left:5%; margin-top:20px;">
    <br>
    <br>
    <h4>Información de la Organización</h4>


    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Logo </label>
                <br>
                <img class="img-responsive" src="{{Organizacion.logo.url}}" width="200px" height="200px">
            </div>
        </div>
        <div class="col-md-9 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Quienes Somos? </label>
                <br>
                <div style="border:1px solid white;height:200px; ">
                    <span style="position:relative;display: inline-block; margin-top: 20px; margin-left:20px;">{{Organizacion.descripcion}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Contacto  </label>
                <br>
                <div style="border:1px solid white;height:40px; ">
                    <span style="position:relative;display: inline-block; margin-top: 10px; margin-left:20px;">{{Organizacion.telefono}}</span>
                </div>

            </div>
        </div>
        <div class="col-md-9 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Correo Electronico </label>
                <br>
                <div style="border:1px solid white;height:40px; ">
                    <span style="position:relative;display: inline-block; margin-top: 10px; margin-left:20px;">{{Organizacion.correo}}</span>
                </div>
            </div>
        </div>
    </div>
     <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Fecha de Creacion  </label>
                <br>
                <div style="border:1px solid white;height:40px; ">
                <span style="position:relative;display: inline-block; margin-top: 10px; margin-left:20px;">{{Organizacion.fecha_creacion}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-md-offset-2">
            <div class="form-group">
                <label class="labelform"> Direccion </label>
                <br>
                <div style="border:1px solid white;height:40px; ">
                    <span style="position:relative;display: inline-block; margin-top: 10px; margin-left:20px;">{{Organizacion.direccion1}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <div class="form-group">
               <a class="btn btn-info" title="Actualizar Datos" href="#" onclick="abrirmodal('{% url 'adminOrganiacion:editar_organizacion' Organizacion.id %}'); "> Actualizar Datos!! </a>
            </div>
        </div>
    </div>

</div>
{% endblock %}