{% extends "base_admin.html" %}
{% load static %}

{% block indice %}
<span class="nombre" style="margin-top: 2%;"><i class="fa  fa-home"></i> {{Organizacion.nombre_organizacion}}\ Productos</span>
{% endblock %}

{% block menulateral%}

<li>
    <a href="{% url 'adminOrganiacion:indexOrganizacion'  %}" class="">
        <span class="icon"><i class="fa fa-home"></i></span>
        <span class="item">Inicio</span>
    </a>
</li>

<li>
    <a href="{% url 'adminOrganiacion:index_organizacion' Organizacion.id %}" class="">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <span class="item">Gestionar Organización</span>
    </a>
</li>

<li>
    <a href="#" class="active">
        <span class="icon"><i class="fa fa-reorder"></i></span>
        <span class="item">Gestionar Productos</span>
    </a>
</li>

<li>
    <a href="#" class="">
        <span class="icon"><i class="fa fa-thumbs-o-up"></i></span>
        <span class="item">Gestionar Redes Sociales</span>
    </a>
</li>

<li>
    <a href="{% url 'adminOrganiacion:todas_presentacion_productos' Organizacion.id %}" class="">
        <span class="icon"><i class="fa fa-exchange"></i></span>
        <span class="item">Todos Los Productos</span>
    </a>
</li>

<li>
    <a href="{% url 'usuario:salir'  %}">
        <span class="icon"><i class="fa fa-sign-out"></i></span>
        <span class="item">Cerrar Sesión</span>
    </a>
</li>

{% endblock %}

{% block contenido %}
<div style="width: 90%; margin-left:5%;">

    <br>
    <div class="main_heading text_align_center">
        <h2 style="color:#111;">Nuestros Productos</h2>
        <p class="large"> Agregar Productos <a
                href="#"
                onclick="abrirmodal('{% url 'adminOrganiacion:agregar_productos_organizacion' Organizacion.id %}'); "
                class=""
                style="color:white;"><i class="fa fa-check-square-o"></i> Dar Click!! </a></p>
    </div>


    <div class="table-responsive">
        {% if Productos %}
        <table class="table table-hover table-bordered" id="datatable" style="width:100%;">
            <thead class="table-active" >
            <tr style="color:#F4A337;">
                <td style="text-align:center;" width="5%">Ord.</td>
                <td style="text-align:center;" width="30%">Nombre</td>
                <td style="text-align:center;" width="30%">Beneficios</td>
                <td style="text-align:center;" width="15%">Fecha Registro</td>
                <td style="text-align:center;" width="20%">Acciones</td>
            </tr>
            </thead>
            <tbody>

            {% for doc in Productos %}
            <tr>
                <td style="text-align:center;">{{forloop.counter}}</td>
                <td>{{doc.nombre_producto}}</td>
                <td>{{doc.desc_beneficio}}</td>
                <td>{{doc.fecha_registro}}</td>

                <td style="text-align:center;">
                    <a style="color:white;  font-size: 30px;" title="Agregar Presentacion" href="{% url 'adminOrganiacion:presentacion_productos_organizacion' doc.id %}"><i class="fa fa-plus-square"></i> </a>
                    <a style="color:#A86C30;  font-size: 30px;" title="Modificar" href="#" onclick="abrirmodal('{% url 'adminOrganiacion:editar_productos_organizacion' doc.id %}'); "><i class="fa fa-pencil-square"></i> </a>
                    <a style="color:#B11C1F;  font-size: 30px;" title="Eliminar" href="#"><i class="fa fa-trash"></i> </a>

                </td>
            </tr>
            {% endfor %}

            {% else %}
            <h3>No hay registros para mostrar</h3>
            {% endif %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}