{% extends "base_dark.html" %}
{% load static %}


{% block il1 %} class="active" {% endblock %}

{% block contenido %}




<div id="slider" class="section main_slider">
  <div class="container-fuild">
    <div class="row">
      <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classicslider1" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
        <!-- START REVOLUTION SLIDER 5.0.7 auto mode -->
          {%if not2 %}
            <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.0.7">
          <ul>
            {% for new in not2 %}

            <li data-index="rs-{{new.id}}" data-transition="zoomin" data-slotamount="7"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000"  data-thumb="{{new.imagen.url}}"  data-rotate="0"  data-saveperformance="off"  data-title="{{new.titulo}}" data-description="">
              <!-- MAIN IMAGE -->
              <img src="{{new.imagen.url}}"  alt="#"  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="120" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="10" class="rev-slidebg" data-no-retina>
              <!-- LAYERS -->
              <!-- LAYER NR. BG -->
              <div class="tp-caption tp-shape tp-shapewrapper   rs-parallaxlevel-0"
                              id="slide-270-layer-{{new.id}}"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                              data-width="full"
                              data-height="full"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="opacity:0;s:1500;e:Power3.easeInOut;"
                              data-transform_out="s:300;s:300;"
                              data-start="750"
                              data-basealign="slide"
                              data-responsive_offset="on"
                              data-responsive="off"
                              style="z-index: 5;background-color:rgba(0, 0, 0, 0.25);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 1 -->
              <div class="tp-caption tp-shape tp-shapewrapper   tp-resizeme rs-parallaxlevel-0"
                              id="slide-18-layer-{{new.id}}"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['15','15','15','15']"
                              data-width="500"
                              data-height="140"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power4.easeInOut;"
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                              data-mask_in="x:0px;y:0px;"
                              data-mask_out="x:inherit;y:inherit;"
                              data-start="2000"
                              data-responsive_offset="on"
                              style="z-index: 5;background-color:rgba(29, 29, 29, 0.85);border-color:rgba(0, 0, 0, 0.50);"> </div>
              <!-- LAYER NR. 2 -->
              <div class="tp-caption NotGeneric-Title   tp-resizeme rs-parallaxlevel-0"
                              id="slide-18-layer-{{new.id}}"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                              data-fontsize="['70','70','70','35']"
                              data-lineheight="['70','70','70','50']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                              data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                              data-start="1000"
                              data-splitin="chars"
                              data-splitout="none"
                              data-responsive_offset="on"
                              data-elementdelay="0.05"
                              style="z-index: 6; white-space: nowrap;">{{new.titulo}} </div>
              <!-- LAYER NR. 3 -->
              <div class="tp-caption NotGeneric-SubTitle   tp-resizeme rs-parallaxlevel-0"
                              id="slide-18-layer-{{new.id}}"
                              data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
                              data-y="['middle','middle','middle','middle']" data-voffset="['52','51','51','31']"
                              data-width="none"
                              data-height="none"
                              data-whitespace="nowrap"
                              data-transform_idle="o:1;"
                              data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                              data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                              data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                              data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                              data-start="1500"
                              data-splitin="none"
                              data-splitout="none"
                              data-responsive_offset="on"
                              style="z-index: 7; white-space: nowrap;">{{new.descripcion}} </div>
            </li>

            {% endfor %}
          </ul>
          <div class="tp-static-layers"></div>
        </div>
          {% endif%}
      </div>
    </div>
  </div>
</div>

<!-- SECCION PARA LOS PRODUCTOS -->
<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Nuestros Productos</h2>
            <p class="large">La red Winari pone a su disposicion los 10 Mejores Productos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        {% for org in productos %}
      <div class="col-md-3 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="{{org.logo.url}}" alt="" width="300"
     height="250"> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="{% url 'adminOrganiacion:presentacion_productos_cliente' org.id %}">{{org.nombre_presentacion}}</a></h4>
            </div>
            <div class="starratin">
              <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
            </div>
            <div class="product_price">
              <p><span class="">PVM: {{org.precio_mayor}}</span> – <span class="new_price">PVP: {{org.precio}}</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>

<!--<div class="product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">
                    <h2 style="color:#b32424;">Productos </h2>
                </div>
            </div>
        </div>
    </div>

    <section class="obj onjd js-catalog-products js-sidebar-fixedto clearfix  is-advert-shown ">
        {% for org in organizacion %}
        <div class="product-thumb item js-catalog-item" data-id="{{org.identificación}}" style="margin-right: 20px;">
            <div class="product-thumb__inner"><a></a>
                <div class="product-thumb__picture "><img class="product-thumb__image demilazyload js-catalog-image"
                                                          src="{{org.logo.url}}"
                                                          data-src="{{org.logo.url}}"
                                                          alt="{{org.nombre_organizacion}}"
                                                          width="327" height="217" data-loaded="true"
                                                          ></div>
                <div class="product-thumb__info js-product-info" style="padding: 10px;">
                    <h4 class="product-thumb__title" title="{{org.nombre_organizacion}}">
                    {{org.descripcion}}</h4>
                    <div class="product-thumb__source"><span class="js-product-by">Ir</span><a
                            class="product-thumb__author js-product-author" rel="nofollow"
                            href="{% url 'organizacion:OrganizacionIndex' org.id %}" style="left: 20px;">{{org.nombre_organizacion}}</a>
                    </div>
                    <div class="product-thumb__footer">
                        <div class="product-thumb__stars">
                            <div class="ratingBlock rateItem2156 blocked" data-status="blocked" data-rate="google_stars"
                                 data-type="template" data-item-id="2156">
                                <div><span class="caption ratingInfo"><span class="rateNum"><span
                                        itemprop="ratingValue">5.0</span> de 5</span></span><span class="star toggle on"
                                                                                                  data-index="1"
                                                                                                  data-id="2156"
                                                                                                  data-init-state="1"></span><span
                                        class="star toggle on" data-index="2" data-id="2156" data-init-state="1"></span><span
                                        class="star toggle on" data-index="3" data-id="2156" data-init-state="1"></span><span
                                        class="star toggle on" data-index="4" data-id="2156" data-init-state="1"></span><span
                                        class="star toggle on" data-index="5" data-id="2156" data-init-state="1"></span><span
                                        class="rateVotes">(<span itemprop="ratingCount">185</span>)</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-thumb__paid-icon"></div>
                        <div class="product-thumb__downloads"><span class="product-thumb__download-icon"><svg class="icon-download" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="info"></g><g
                                id="icons"><g id="save"><path d="M11.2,16.6c0.4,0.5,1.2,0.5,1.6,0l6-6.3C19.3,9.8,18.8,9,18,9h-4c0,0,0.2-4.6,0-7c-0.1-1.1-0.9-2-2-2c-1.1,0-1.9,0.9-2,2    c-0.2,2.3,0,7,0,7H6c-0.8,0-1.3,0.8-0.8,1.4L11.2,16.6z"></path><path
                                d="M19,19H5c-1.1,0-2,0.9-2,2v0c0,0.6,0.4,1,1,1h16c0.6,0,1-0.4,1-1v0C21,19.9,20.1,19,19,19z"></path></g></g></svg></span>

                        </div>
                    </div>
                </div>
                <div class="hint">

                    <div class="fav-btn"><a class="fav-btn__link "
                                            onclick="if (!window.__cfRLUnblockHandlers) return false; addToFavorites(this)"
                                            data-id="2156" href="javascript:void(0)"><img class="fav-btn__icon-heart"
                                                                                          src="https://i.poweredtemplates.com/assets/images/icons/heart-outline-grey.svg"
                                                                                          alt="Favorites"><img
                            class="fav-btn__icon-heart-full"
                            src="https://i.poweredtemplates.com/assets/images/icons/heart-outline.svg"
                            alt="Favorites"><img class="fav-btn__icon-heart-full-red"
                                                 src="https://i.poweredtemplates.com/assets/images/icons/heart.svg"
                                                 alt="Favorites"></a></div>
                </div>
                <div class="hint hint_second">

                    <div class="related-btn"><a class="btnSim"
                                                onclick="if (!window.__cfRLUnblockHandlers) return false; relatedSearch(this)"
                                                href="javascript:void(0)" data-id="2156" rel="nofollow"><img
                            class="btnSim__icon btnSim__icon-def"
                            src="https://i.poweredtemplates.com/assets/images/icons/related-search_icon-def.svg"
                            alt="Favorites"><img class="btnSim__icon btnSim__icon-hover"
                                                 src="https://i.poweredtemplates.com/assets/images/icons/related-search_icon-hover.svg"
                                                 alt="Favorites"></a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

</div>-->

<!-- SECCION PARA LOS SERVICIOS -->





{% endblock %}
