
{% extends "base_dark.html" %}
{% load static %}

{% block il4 %} class="active" {% endblock %}
{% block contenido %}

<div class="section padding_layout_1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>RED DE EMPRENDIMIENTO WIÑARI</h2>
            <p class="large">Productos que ofrecemos.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        {% for org in productos %}
      <div class="col-md-3 col-sm-6 col-xs-12 margin_bottom_30_all">
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="{{org.logo.url}}" alt="" width="300"
     height="250"> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="{% url 'adminOrganiacion:presentacion_productos_cliente' org.id %}">{{org.nombre_presentacion}}</a></h4>

            </div>
            <div class="starratin">
              <div class="center"> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star" aria-hidden="true"></i> <i class="fa fa-star-o" aria-hidden="true"></i> </div>
            </div>
            <div class="product_price">
              <p><span class="">PVM: {{org.precio_mayor}}</span> – <span class="new_price">PVP: {{org.precio}}</span></p>
            </div>
          </div>
        </div>
      </div>
        {% endfor %}
    </div>
  </div>
</div>

{% endblock %}